__pycache__
.ipynb_checkpoints
*.pth
UCF-101/
results/
wandb/
*.ipynb
*.jpg
*.safetensors
*.mp4
*.png
*.gif
*.pth
*.pt
cache_dir/
wandb/
venv/
.venv/
runs/
samples/
Miniconda3-latest-Linux-x86_64.sh
*validation/
data/
outputs/
outputs_video
checkpoints/
sbatch.sh
*.out
env
*.o
**/build/
**.pyc
**.txt
*.log
weights/

# SSIM test outputs
fastvideo/tests/ssim/generated_videos/
**/.cache/**


# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
eggs/
.eggs/

# MkDocs documentation
site/
docs/getting_started/examples/
docs/inference/examples/
docs/training/examples/
docs/distillation/examples/
!requirements-mkdocs.txt

# VSCode
.vscode/

# DS Store
.DS_Store

# vim swap files
*.swo
*.swp

# Python pickle files
*.pkl

# Reference videos
!fastvideo/tests/ssim/reference_videos/**/*.mp4

# Static images
!docs/assets/images/**/*.png
!comfyui/assets/**/*.png
!comfyui/assets/**/*.gif
!assets/images/**/*.png
!assets/images/**/*.jpg
!assets/images/**/*.jpeg
!assets/images/**/*.gif
!assets/videos/**/*.mp4

dmd_t2v_output/
preprocess_output_text/

.claude/
.codex/
openspec/
